@import "variable";
@import "mixin";

:host {
    flex-grow: 1;
    height: 100%;
    display: flex;
    .container {
        flex: 1;
        input {
            width: 100%;
            height: 100%;
            @include button($blue, $strong-blue);
        }
    }
}

