@import "variable";

.app-view-port {
    position: fixed;
    background-color: $pale-black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .app-workspace {
        min-width: 280px;
        width: 450px;
        flex-shrink: 1;
        flex-basis: auto;
        background-color: white;
        border-radius: 4px;
        @media screen and (max-width: 768px) {
            width: 100%;
            height: 100%;
            border-radius: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            d-container-feed {
                flex: 1 1 auto;
                width:  100%;
                overflow: scroll;
            }
            d-container-editor {
                width: 100%;
                height: 52px;
                flex: 0 0 auto;
            }
        }
    }
}