@import "variable";

.container {
    height: 240px;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    .area {
        background: white;
        padding: 4px;
        overflow: auto;
        &.feed-box {
            word-wrap: break-word;
            min-width: 240px;
            flex: 1 auto;
            margin-right: 2px;
            .content span {
                display: block;
            }
        }
    }
}