<div class="container">
    <div class="area feed-box">
        <div class="content" *ngFor="let item of ($feedContent | async) | keyvalue">
            <ng-container *ngIf="item.value.length <= 49; else chunkMessage">
               <span class="feed-item">{{ item.value }}</span>
            </ng-container>
            <ng-template #chunkMessage>
                <span class="feed-item">
                    <ng-container *ngFor="let chunk of splitMessage(item.value)">
                           <div>{{ chunk }}</div>
                    </ng-container>
                </span>
            </ng-template>
        </div>
    </div>
</div>