@import "variable";

:host {
    flex-grow: 1;
    height: 100%;
    display: flex;
    border: none;
    textarea {
        border: 1px solid $pale-white;
        flex-grow: 1;
        resize: none;
        overflow: hidden;
        word-wrap: break-word;
    }
}